[2019-05-31 11:05] ibraude opened #5 "Usage example"
Hey,

First of all, thank you very much for the module.
I was wondering if you could post a usage example using the getSteps method.

I have set up the module, including the Google Client ID.
the requestPermission method works, and I get `true` from isAuthorized, but for the getSteps method, I just get an empty array as the response and can't seem to get a step count.
` Fitness.getSteps({startDate

[2019-06-02 23:07] #5 closed

[2019-08-06 09:04] slavkobojanic opened #7 "Cannot install via NPM or Yarn"
Says that no package was found :(

[2019-08-07 13:45] Francesco-Voto commented on #7
Sorry for this.
Now you can find it with ```yarn add @ovalmoney/react-native-fitness```

[2019-08-07 13:45] #7 closed

[2019-08-13 06:59] praveen7557 opened #9 "TypeError: _reactNativeFitness.default.requestPermissions is not a function."
I tried to use this app in iOS like this

[code]

But I'm getting this error.

TypeError: _reactNativeFitness.default.requestPermissions is not a function.

[2019-08-13 07:00] praveen7557 commented on #5
Hi @ibraude ,

Can you let me know how you did this?
I was getting this error [https://github.com/OvalMoney/react-native-fitness/issues/9](https://github.com/OvalMoney/react-native-fitness/issues/9)

[2019-08-13 08:14] scerelli commented on #9
@praveen7557 are you sure that you linked the package correctly? if you print `Fitness` what do you see?

[2019-08-13 08:22] praveen7557 commented on #9
I just did the linking automatically using `react-native link @ovalmoney/react-native-fitness`

This is what I'm getting when I print Fitness

[code]

[2019-08-13 08:56] scerelli commented on #9
which version of RN are you using?

[2019-08-13 09:02] praveen7557 commented on #9
I am using RN 0.60

[2019-08-13 10:42] scerelli commented on #9
Ok let me investigate this, i'll get back to you asap.

[2019-08-14 09:56] scerelli commented on #9
@praveen7557 it works correctly to me, how are you importing the package?

[2019-08-14 09:57] praveen7557 commented on #9
This is my component

[code]

[2019-08-14 11:10] scerelli commented on #9
@praveen7557 please share also your `android/settings.gradle` the react-native fitness lines are enough

[2019-08-14 11:55] praveen7557 commented on #9
Actually, I am getting this error in iOS. It's working fine in Android.

[2019-08-14 12:05] praveen7557 commented on #9
@scerelli In Android, I'm trying to get steps, but when I do requestPermissions I'm getting false in the response. This is my code.

[code]

Also, can you tell me how to form the request for the getSteps? Is it correct, what I did?

[2019-08-14 13:55] scerelli commented on #9
@praveen7557  can you please try to do like this:

completely uninstall `@ovalmoney/react-native-fitness`

then do:
`yarn add @ovalmoney/react-native-fitness@github.com/OvalMoney/react-native-fitness`

tell me if it fix your problems both android and ios. You have to run pod install before building

[2019-08-15 01:39] praveen7557 commented on #9
@scerelli I am getting this error when I try to do `pod install`

[!] No podspec found for `@ovalmoney` in `/Users/praveen/trippy/node_modules/@ovalmoney/react-native-fitness`.

Also can you give usage example for this as in

[code]
Is this the right way to do it?

[2019-08-15 08:12] scerelli commented on #9
it's like this:

[code]

your podfile should be:
`pod 'react-native-fitness', :path => '../node_modules/@ovalmoney/react-native-fitness'`

[2019-08-15 15:08] praveen7557 commented on #9
@scerelli  I have the same in podfile
 ` pod 'react-native-fitness', :path => '../node_modules/@ovalmoney/react-native-fitness'`

[2019-08-16 02:55] praveen7557 commented on #9
@scerelli This is the sample repo. https://github.com/praveen7557/steps/tree/master/steps.

In android also when I try to get steps, I am getting an error like `null reference`

[2019-08-16 09:30] scerelli commented on #9
@praveen7557 I'm sorry, i just noticed we didn't mention that you need to create a google project on firebase to get this working.

We're updating the docs right now, in the meanwhile you can check here the fixes i made to your branch. IOs already working

https://github.com/scerelli/steps/commit/77511f50d6d9f8434af0f0bf5e3a9a194ee4c584

[2019-08-16 15:16] scerelli commented on #9
@praveen7557 check the new docs and the new release https://github.com/OvalMoney/react-native-fitness/releases/tag/v2.0.4

[2019-08-16 15:42] praveen7557 commented on #9
@scerelli Thanks. I will check and close the issue.

[2019-08-19 05:32] praveen7557 commented on #9
@scerelli For iOS, there is an error saying that `Health Kit not available`.

For Android, You said to generate a Client ID, but you didn't say where to put that ID, So I'm getting authorized as false.

[2019-08-19 08:09] scerelli commented on #9
for iOS you have to enable health kit ofc, check here:
https://developer.apple.com/documentation/healthkit/setting_up_healthkit

for android, it's written in the guide we linked in the doc, the part that talks about debug keystore and release keystore.

https://developers.google.com/fit/android/get-api-key

[2019-08-19 08:46] praveen7557 commented on #9
@scerelli I generated the key using the documentation provided, but where should I use it?

[2019-08-19 08:52] scerelli commented on #9
it's written here dude: https://developers.google.com/fit/android/get-api-key#find_your_apps_certificate_information

read it till the end pls

[2019-08-19 09:08] praveen7557 commented on #9
Sorry man, if I frustrated you. I generated the key using the documentation, but my question was, where should I use it? It doesn't say anything about where to put the Client ID.

bear with me, please.

[2019-08-19 09:13] scerelli commented on #9
you don't have to put it anywhere just do this:

[code]

[2019-08-21 08:58] scerelli commented on #9
@praveen7557 did you manage to make it run?

[2019-08-21 09:37] praveen7557 commented on #9
@scerelli when I try to do this `const authorized = await Fitness.requestPermissions();` authorized is coming as false and getSteps is giving `null reference`

[2019-09-04 12:58] IntelliJAbhishek opened #16 "Can we get calories burnt?"
How can we get calories burnt by steps. Its already exposed by google fit?

[2019-09-04 13:23] Francesco-Voto commented on #16
Sorry, this feature is not yet implemented., but it will be as soon as possible, since we are programming next step.

[2019-09-04 13:23] #16 closed

[2019-09-05 09:11] scerelli commented on #9
I close this since we updated docs and you seems to have solved your issues, if you still have problem reopen it.

[2019-09-05 09:11] #9 closed

[2019-09-19 12:13] anshul12 commented on #16
@Francesco-Voto By when are you planning to push new methods.
I need this for some of my POCs. Please let me know so that I can plan accordingly. Thanks in advance.

[2019-09-23 12:54] dmitov opened #17 "0.60 support?"
Hi guys, good stuff!

I'm interested what's the support for RN 0.60 and automatic linking?

Also, is there a roadmap or a feature list so I can help with the development?

[2019-09-24 10:33] Francesco-Voto commented on #16
Sorry for late reply.
Actually we are planning the next steps: a bit refactor will be available in next weeks. this will include also new methods.
Thanks for the interest.

[2019-09-24 11:23] emil-alexandrescu commented on #9
@praveen7557 Did you figure out this issue? I am getting exactly the same issue on Android.

[2019-09-26 08:42] scerelli commented on #17
Hi @dmitov, ye we have planned to integrate RN 60 asap, for the roadmap we don't have any, sorry. If you would like to see any feature added to this package I suggest you to simply open an issue with the feature request, so we can plan if it's something interesting to have for the community. Btw any help is well accepted :)

[2019-10-29 10:46] anshulsingh2403 commented on #16
@Francesco-Voto
Are these change available ?

[2019-11-02 16:49] ShaharyarMaroof opened #19 "Can we specify permissions for other HealthKit or Google Fit parameters?"

[2019-11-03 11:50] SergiOnGit opened #20 "Any plans to add custom workout data?"
@scerelli  I wonder if you play to add custom workout data? I mean syncing workout with app title, app icon, workout name, workout time and burned calories for example.

[2019-11-08 05:18] ShaharyarMaroof opened #21 "Unable to Authorize with Google Fit"
@scerelli I am trying to authorise the app to connect to google fit, but the Fitness.requestPermissions method always returns false. Is there some specific requirements for android? I saw a merge request  #6 which was intended to allow connection even without Google Fit installed.

I am using react-native 0.60.6, lib version 0.2.4 and Android Q (API level 29) emulator. Any idea what could be wrong

[2019-11-08 08:50] Francesco-Voto commented on #21
Have you followed the section fro Android and create an OAuth 2.0 Client ID?

[2019-11-10 06:41] ShaharyarMaroof commented on #21
Ah, I skipped that as it was in the manual section of the installation guide. Thanks, will look into this.

[2019-11-10 14:38] pie6k commented on #17
So it is not working with the newest version of RN right now?

[2019-11-11 09:39] scerelli commented on #17
@pie6k yes, it works also for rn 61. We're using it in production.

[2019-11-11 09:39] #17 closed

[2019-11-11 09:41] scerelli commented on #20
@SergiOnGit is on its way, you should see the PR soon.

[2019-11-11 09:41] #20 closed

[2019-11-11 09:41] scerelli commented on #19
what do you mean @ShaharyarMaroof ?

[2019-11-12 05:53] ShaharyarMaroof commented on #19
So can we specify which metrics, the app can read/write to, e.g. the Calorie Count or BMI? Or does this lib provide access to all the metrics provide by the HealthKit and Google Fitness API?

[2019-11-14 12:39] ShaharyarMaroof commented on #21
@Francesco-Voto can you let me know, where do I have to add the API key to configure this?

[2019-11-14 13:13] ShaharyarMaroof commented on #21
Hey @Francesco-Voto I created the key as mentioned in the Android section and since I used auto linking to link the package. but I still cannot get authorised from the Google Fit API. Any suggestions?

[2019-11-14 14:05] Francesco-Voto commented on #21
Hi @ShaharyarMaroof. Normally this kind of problems are some misconfiguration, since no info are inserted inside the codebase, but everything is handled via OAuth 2.0. Have you found some trouble to follow the guide at https://developers.google.com/fit/android/get-api-key?

[2019-11-14 14:19] ShaharyarMaroof commented on #21
Won't we have to provide the google client ID somewhere in the app to connect to the Fitness API?  As this lib has done? [react-native-google-fit](https://github.com/StasDoskalenko/react-native-google-fit/blob/master/docs/INSTALLATION.md)

[2019-11-18 21:10] Francesco-Voto commented on #21
No this is not necessary. You just need to register your app in  [Google API console](https://console.developers.google.com). You need also to call ```Fitness.requestPwermissions()``` first time  you want to fetch the data.

Hope this will help. :)

[2019-11-19 05:02] ShaharyarMaroof commented on #21
Thank you very much! :) (Y)

[2019-11-19 05:03] #21 closed

[2019-12-03 13:15] VictorNIvanov opened #22 "Can't get any results..."
Hello,

I cant seem to get any results returned from either Fitness.getSteps or Fitness.getDistance.
I have tested this on a simulator with manually entered data in the HealthKit as well as on a device that has walking distance and steps data for each day... (iOS)

The code that I am using is the following:

[code]

All it returns for any date or combination of dates is :
[code]

I have double che

[2019-12-03 21:59] Francesco-Voto commented on #22
Hello @VictorNIvanov,
can be possibile you are not using a Promise?
it should be
[code]

Please let me know if it helps.

[2019-12-04 08:40] VictorNIvanov commented on #22
Hello @Francesco-Voto,

Thank you for the quick response!
Adding "await" did work... just had to move it to an async function.

I will leave a working example just in case anybody else has difficulties with this...

[code]

[2019-12-04 08:40] #22 closed

[2019-12-06 10:21] scerelli commented on #19
@Francesco-Voto

[2019-12-09 12:51] addingama opened #24 "Feature Request - Get heart rate data"

[2019-12-11 07:52] DeevD opened #25 "getCalories error"
catch  error TypeError: _reactNativeFitness.default.getCalories is not a function

 const dates = { startDate: withinDay(7), endDate: new Date().toISOString() }
 Fitness.getCalories(dates).then(result => {
                            console.log('getCalories Result ' + JSON.stringify(result))
});

[2019-12-19 14:01] Francesco-Voto commented on #25
I will check it as soon as possibile. Thanks for the feedback

[2019-12-19 14:02] Francesco-Voto commented on #24
We are still development new feature. In next releases this will be available.

[2019-12-19 14:03] Francesco-Voto commented on #19
I am working to be more flexible on the metrics. It will be available in next releases.

[2020-01-14 10:47] lftfld opened #29 "Android getSteps error"
First, thanks for writing this module. works great on iOS.

my code
.
.
.
const dates = { startDate: new Date(before).toISOString(), endDate: new Date().toISOString(),interval:"days"}
await Fitness.getSteps(dates).then(result => {
    healthIsAvailable = true;
    stepsWeek = result;
    stepsToday = result[result.length-1].quantity;
    return
  })
  .catch((error) => {
     console.log("getSteps

[2020-01-22 12:49] FuriioS opened #30 "Can't get the latest release of this library"
Hi there!

When I try to install the latest release of this library (v0.2.5) using

`npm install @ovalmoney/react-native-fitness --save`

npm installs me the v0.2.4 instead of v0.2.5. If I enforce to install the v0.2.5 it tells me

How do I proceed?

Regards,

[2020-01-22 13:59] Francesco-Voto commented on #30
Hi @FuriioS
Sorry for the problem, I will check it. For now you can use the v.0.2.4 if you want. We are also planning to make a new release in next weeks

[2020-01-30 20:07] iitsuraj commented on #21
For getting Oauth token, I followed (https://developers.google.com/fit/android/get-api-key), but when I ask for `Fitness.requestPwermissions()` it shows me to choose an account, and after selecting the account that screen disappears.  And Fitness.isAuthorized return false value

[2020-02-03 07:20] lblois opened #31 "Android promises not resolving"
Hi,
Thanks you for the library which works flawlessly on iOS. I am encountering an issue with the android part : whenever I try to call `Fitness.getSteps(opt)` or `Fitness.getDistance(opt)`, the promises created won't resolve nor reject.

I made sure that my SHA1 is properly authorized through the Google Fitness API & co (as other functions such as `Fitness.isAuthorized()` properly works).

I'm on

[2020-02-05 08:45] Francesco-Voto commented on #31
Hi @lblois,

I will check as soon as possibile

[2020-02-07 07:58] lblois commented on #31
Hi @Francesco-Voto , thanks for the support, did you get the time to check ?

[2020-02-19 12:03] akinncar commented on #30
some update?

[2020-02-26 09:31] Francesco-Voto commented on #25
Sorry for delay. Have you solved this? Can you tell me what version of libraries are you using?

[2020-03-01 15:15] Francesco-Voto commented on #24
I @addingama.
In the 0.3.0 we released the heart rate. You can try it

[2020-03-01 15:15] Francesco-Voto commented on #30
Can you try to got the 0.3.0 now.
Let me know

[2020-03-01 15:15] Francesco-Voto commented on #25
Can you try with the last release please?

[2020-03-01 15:16] Francesco-Voto commented on #19
Now this is possibile with v0.3.0. Can you try it?

[2020-03-01 15:17] Francesco-Voto commented on #29
which version do you have? Can you try with the last one?

[2020-03-01 18:54] FuriioS commented on #30
Like a charm 🔥🔥

[2020-03-01 19:45] lftfld commented on #29
Thanks for your reply, I forgot to update.
It turned out the error came from me having the wrong keystore.
Everything worked out fine after that.
Would be great if you could update that error message.
Thanks!

[2020-03-02 10:26] Francesco-Voto commented on #31
Can you try with the last release? (0.3.0)

[2020-03-02 10:26] #30 closed

[2020-03-02 10:27] Francesco-Voto commented on #29
Perfect!

Thank you for the feedback

[2020-03-02 10:27] #29 closed

[2020-03-12 10:33] maxmijn opened #43 "Feature request - Get flights/floor data"
Hi guys!

Thanks a lot for this library! I would like to integrate the amount of floors/flights climbed in my app. Could you point me in the right direction or is this something you are willing to implement? For now iOS HealthKit data is enough for my use case.

[2020-03-12 10:42] #19 closed

[2020-03-12 10:42] #24 closed

[2020-03-12 10:43] Francesco-Voto commented on #25
I close for no updates on it

[2020-03-12 10:43] #25 closed

[2020-03-12 10:47] Francesco-Voto commented on #43
Hi @maxmijn,

Thank you!

We can work on it of course, since we are planning the next steps. Anyway I would like  to continue keeping the two platforms in sync when it is possible. So a new feature should have both API for Android and iOS.

[2020-03-12 12:08] maxmijn commented on #43
I can completely understand, but I do not think Google Fit has this data unfortunately.

[2020-03-13 12:22] ottob opened #44 "Feature request - weight, height, bmi, dob, sex"
Hi, this looks like a really nice package with a clean api.

Any plans of adding support for reading/writing these additional data types? I know they are available on iOS, but I don't know about Android.

[2020-03-15 16:19] dmitov commented on #44
On iOS they are available, yes.

The situation with Android is:

* Weight - supported
* Height - supported
* BMI - complex, due to the two below not supported
* Date of Birth - not supported
* Gender - not supported

However, DoB and Gender can be fetched from [Google's People API](https://developers.google.com/people/api/rest/v1/people/get). It might make sense to bake in this functionality, but

[2020-03-17 14:30] antoinedelp commented on #31
Hi @Francesco-Voto, thanks for the package!
I am experiencing the same issue as @lblois on 0.3.0 : promises are just left hanging. It works fine on iOs and I managed to choose my Google account with Fitness.isAuthorized()

[2020-03-17 15:01] Francesco-Voto commented on #31
Hi @antoinedelp,

Can I ask if you also see a possible pick for the permissions you would like to authorise on Android also? It should happen after you select your account

[2020-03-18 09:54] antoinedelp commented on #31
The permissions are the following:

I authorized both permissions successfully.

Regarding my problem, I found the solution: I was simply passing an incorrect startDate. Once corrected, the function works as expected!

[2020-03-18 10:00] Francesco-Voto commented on #31
Thank you for the reply!
Maybe a better error can be useful.

[2020-03-18 10:00] #31 closed

[2020-03-18 10:10] antoinedelp opened #47 "Feature request - Option to filter manually entered data"
Hi and thanks for this neat package!

I'm submitting a feature request for the possibility to left out user entered data when querying for distance/steps. This would enable to use only "real" data.

As a test, I managed to implement it in the iOs version of GetSteps by doing the following:

- Declare a predicate that leaves out User Entered data

`NSPredicate *sourcePredicate = [NSPredicate predic

[2020-04-03 06:45] moazkh60 opened #48 "Update documentation"
Please update your documentation for iOS and Android and include code snippets for running your code.

[2020-04-05 22:13] dmitov commented on #48
@moazkh60 Could you give us more details about this one? Where did you encounter any difficulties and did you overcome them?

[2020-04-06 07:19] moazkh60 commented on #48
First of all the documentation should list all the steps to make it work e.g
For iOS or Android the first thing that needs to be done is to enable HealthKit in xcode > capabilities > call Fitness.requestPermissions function and then check is authorized. For android @annotation doesn't work now with RN 0.60 and above now you need androidx.annotation imports. Compile is deprecated and now it's imple

[2020-04-06 07:54] Francesco-Voto commented on #48
Hi @moazkh60,
Wha it is the problem with Capabilities? Or you point is we need to explain better the Capabilities -> isAuthorized => requestPermission flow?
For Android we are planning to move it, for the moment if you have problems you can use [justifier](https://github.com/mikehardy/jetifier).

For the feature, thanks to ask it: I don't ha ve a plan to release it, but we can start to work on it

[2020-04-06 08:23] moazkh60 commented on #48
Hi, yes that's what I am saying. One needs to manually figure out that you need to enable capabilities after running into problems and searching separately. A step by step documentation with working example code would be a good way to go.

[2020-04-08 00:08] jakallergis commented on #9
I am too getting false from `Fitness.requestPermissions` even after I select a Google account in the prompt, and then I get a `null reference` error when I call `Fitness.getSteps` .
I have created the OAuth Client etc.

[2020-04-09 07:09] minhchienwikipedia opened #49 "Getting error "No events found""
I had tried using `Fitness.isAuthorized(permissions)` it returns `false` and then I'm trying to get request permission, I'm getting error `No events found`.

Here is my code:
`
const permissions = [
                            { kind: Fitness.PermissionKind.Step, access: Fitness.PermissionAccess.Read },
                        ];
Fitness.requestPermissions(permissions).then(res => {

[2020-04-09 07:22] minhchienwikipedia commented on #49
I resolved my issues, I forget to add HealthKit in Capability!!

[2020-04-09 07:22] #49 closed

[2020-04-12 09:22] minhchienwikipedia opened #50 "requestPermissions always return true [iOS]"
When I'm tried using `requestPermissions` on iOS I'm getting issue it's always return true. When the user click `Don't Allow` it shows up an alert like this and then return `true`. After that, I tried using function `isAuthorized` and it always returns `true`.
<img width="487" alt="Screen Shot 2020-04-12 at 4 20 06 PM" src="https://user-images.githubusercontent.com/20647079/79065299-80456380-7cd9-

[2020-04-12 11:11] dmitov commented on #50
**TLDR**: Unfortunately this is the default behaviour from iOS, check workaround.

Apple restricts basically every permission authorization in a similar way. The first time you call the method you will receive `false` which implicates "User has not been asked for permissions" and any subsequent call will return `true`, meaning "User has been asked for permissions".

Basically every iOS app develop

[2020-04-12 17:35] #50 closed

[2020-04-14 04:24] minhchienwikipedia commented on #50
@dmitov Thanks for your help! I think that is the only way to check permission on iOS!

[2020-04-14 19:13] Francesco-Voto commented on #9
Hi @jakallergis,

Can you select also what kind of permissions ( step, distance, etc) from the prompt?

[2020-04-16 09:33] jakallergis commented on #9
Hi! I finally had the time to search more into it and solved it.

1) I didn't have these in:
[code]

2. I also had the wrong package name. Because it said you'd find the package name from the manifest file but in there the `package` was different from the `applicationId` in my case. Turns out it needs the `applicationId`. Sorry for any confusion!
This one should be more clear tho.
‾\ _(ツ)_/‾

[2020-04-20 00:04] gregermendle opened #51 "Query for Immediate Values"
Hey!

I've been testing out this lib to query step count and heart rate on an interval (like every 5 seconds). I noticed that the data that is returned takes about 5 minutes to update. I was wondering if there is a way to get immediate values? I did some research on different querying mechanisms in HK but, I'm still a little unsure of if this is possible on such a short frequency.

Thanks!

[2020-04-21 11:20] scerelli commented on #48
feel free to open a PR to help on this @moazkh60

[2020-04-23 21:03] anshgupta1234 opened #52 "_reactNativeFitness.default.PermissionKind.Step is undefined"
Copying straight out of the example, I have this code here:

[code]

However, it's throwing me an error saying that PermissionKind.Step is undefined. Any idea to why this might be?

[2020-05-04 21:38] gypsicoder opened #53 "Not getting Steps data correctly."
I am trying to get steps data in android. In google fit I have the following steps data:
May 3, 2020 : 124 Steps
May 4, 2020: 3958 Steps
May 5, 2020: 61 Steps
When I am trying to get the data of May 3 to May 5 with startDate 2020-05-03 and endDate 2020-05-05 I am getting following data
[ { quantity: 123,
                             │ endDate: '2020-05-04T04:11:07.402+0600',

[2020-05-05 22:04] gucolin commented on #51
Same question here.

[2020-05-19 12:10] CruelMoney opened #54 "Typo in documentation "Distance""
The permission for the distance should be `Fitness.PermissionKind.Distance` not `Distances`.

[2020-05-19 12:36] Francesco-Voto commented on #54
Thank you @CruelMoney. I will fix it immediately

[2020-05-19 12:36] #54 closed

[2020-05-19 14:19] rlems commented on #21
@iitsuraj I'm experiencing the same issue, did you solve it?

[2020-05-19 14:35] Francesco-Voto commented on #21
Usually this means a misconfiguration on OAuth 2.0 Client ID part.
Please note for Debug ore Release you will use different SHA-1 as well as you need to create different Client ID  if you change package name in your flavours

[2020-05-19 14:45] rlems commented on #21
@Francesco-Voto You are right. I created the Client ID with the wrong SHA-1, not the one provided with the React Native android project. Thank you for your help

[2020-06-02 12:03] rlems opened #55 "Feature request - add minute interval"
Thanks for the library, seems to work great! But for a use case of mine I need to be able to retrieve the steps per minute. I see that the interval on iOS and Android can be any kind of time value, including minute. Could that be supported?

I'll try to create a PR myself for this.

[2020-06-02 12:41] rlems opened #57 "hour interval not working on Android"
I'm trying to get the steps in hours. It works for iOS, but not for Android devices. On Android it still returns the steps per day for me.
If I manually alter the `node_modules/@ovalmoney/react-native-fitness/android/src/main/java/com/ovalmoney/fitness/manager/Manager.java` and set
[code]
it does work.

This is my code:
[code]

And I call this function like this:
[code]

The resulting value of `re

[2020-06-02 16:33] Francesco-Voto commented on #57
Hi @rlems , I will check it

[2020-06-03 07:57] rlems commented on #57
Thank you. Haven't found why this is happening yet.

[2020-06-05 12:29] rlems commented on #57
@Francesco-Voto I think I've found the issue.

The `customInterval` value passed to `getSteps` is a String object and in the code it's compared to another String. 2 string objects are never the same by '==' comparison, see also https://www.geeksforgeeks.org/difference-equals-method-java/
Using `.isEqual()` method would solve the problem.

I'll see if I can solve the problem and open a PR

[2020-06-05 17:27] Francesco-Voto commented on #57
Thank you @rlems !
I close it

[2020-06-05 17:27] #57 closed

[2020-06-05 17:28] Francesco-Voto commented on #55
Thank you @rlems

I close it

[2020-06-05 17:28] #55 closed

[2020-06-05 17:30] Francesco-Voto commented on #53
Hi @gypsicoder, I guess it can be something relative to the timezone, probably you should pass it on the request. Do you have some news about it?

[2020-06-05 17:36] gypsicoder commented on #53
@Francesco-Voto thank you for your message. I forgot to close the issue. I think I have found the solution. Yes, I think there is some problem regarding time zone or something. I have been able to get the data for the current date successfully with the following codes.

[code]

[2020-06-05 17:36] #53 closed

[2020-06-13 13:58] losheredos commented on #5
@ibraude I still get the empty array as you mentioned. It works on both android & IOS like authorizaiton etc. but when I get results of steps its just empty array. I thought it could be cuz of simulator but I test it in real device now, looks same..

Can anyone help about it?

[2020-06-13 13:59] losheredos opened #60 "getSteps return empty array"
As @ibraude mentioned before I still get the empty array. It works on both android & IOS like authorizaiton etc. but when I get results of steps its just empty array. I thought it could be cuz of simulator but I test it in real device now, looks same..

Can anyone help about it?

[2020-06-13 14:24] ibraude commented on #60
Hey,

the docs' usage example is as follows:

[code]

Notice that the permissions access is `Fitness.PermissionAccess.Write` while in your example it is `Fitness.PermissionAccess.Read`.
This may be an issue as the device can't write new activity to Google Fit / Healthkit.
Try changing it and see if it helps.
If not, can you share more of your code?

Cheers,

[2020-06-13 19:48] losheredos commented on #60
Actually I have changed my code to your example after I shared, I think it did not change but I will check more and let you know.

By the way I thought that this APIs just get data from phone and let us get data through this package but as you mentioned, it only saves data after we let permission to write? Did I understand it right? Also in this case should we let app stay open to be able to write

[2020-06-15 09:17] ibraude commented on #60
No, there is no need to keep the app open.
And yes, this package uses the Google Fit or Apple Healthkit APIs behind the scenes based on the platform your React Native app is currently running on.

[2020-06-17 17:33] losheredos commented on #60
Thanks for your answers. After few days of trying actually IOS started to return some response from the API but android is still same. Here is some questions.

1) Does this package should actually work fine in simulators? If yes then we can just debug/test it normally?
2) I checked react-native-google-fit package and there its written that:

1. In order for the library to work correctly, you'll ne

[2020-06-17 21:19] Francesco-Voto commented on #60
Hi @losheredos

1. Yes it works fine in simulator, as long as simulator has   and you are using an account with some data on it.

2. Th simulator should contains Google Play Services in order to make this work property. I don't think the other packages you mentions are necessary

[2020-06-22 11:06] brar07 commented on #52
Yeah, I have got same issue. "Steps" didn't work either.

[2020-06-23 09:51] losheredos commented on #60
Still same, I mean what I can do I dont know. Here is the full code example which I use:
[code]
I tried date with different formats but nothing changes. Am I wrong in something?

[2020-06-25 11:21] rlems commented on #60
@losheredos Just a side note: in your function `getSteps` you're passing a parameter named `hour` to `Fitness.getSteps`, this should be named `interval`.

And this is my implementation of getting the steps of today and the previous 6 days. I find that using momentjs makes working with dates a lot easier.

[code]

[2020-06-25 14:25] losheredos commented on #60
@rlems  I think you read it wrong maybe, because its written in documentation

**Set interval to decide how detailed the returned data is, set it to hour or minute otherwise it defaults to days.**

If I'm not wrong.

[2020-06-25 14:32] rlems commented on #60
@losheredos
You've got these 2 parts in your code:

[code]

This object is wrong: `{startDate, endDate, hour}` because of the hour param. Should be `{startDate, endDate, interval: hour}`

The docs give this example:
`Fitness.getSteps({ startDate: string, endDate: string, interval: string })`

`interval` parameter is of type string ('hour' or 'days')

[2020-06-25 14:36] losheredos commented on #60
Ah yeah got it, right. But anyways I added this interval option later to check if it will make difference in results. It didn't make any difference. I will even check again and write here.

[2020-06-30 03:19] marlene89 commented on #60
Having the same issue. Getting empty array on emulator and real device. here is my implementation.

[code]
Am I missing something? Shouldn't it at least return 0 if no steps were recorded for the day?

[2020-06-30 03:54] iyansr opened #61 "How to uninstall on iOS ?"
Hi, how to uninstall package, and exclude it from iOS Project. We have some problem when publishin to App Store, thanks 😊

[2020-06-30 08:36] Francesco-Voto commented on #61
Which kind of problem? You can anyway remove it from package.json and from pod if you are using it

[2020-06-30 08:40] Francesco-Voto commented on #60
Hi @marlene89,
if no steps were recorded for the day, no data will be returned.

[2020-07-02 05:51] brar07 commented on #52
I think the issue is Expo. I was trying this on Expo project, maybe the same is your or others' case too. One needs to eject for it to work properly. But, I suggest if you do eject, don't use this code, rather, try the native code. Find it from Stackoverflow and try the native modules and then send that data to your React Native project.

[2020-07-03 08:08] #61 closed

[2020-07-03 10:11] losheredos commented on #60
So there was no data then I decided to try react-native-google-fit . There I could at least get array with source data and steps arrays(which was empty as well). But noticed that in that package there is method to start recording. After I started that method data was recorded and I could get steps of the same day. So maybe in this package there should be a method to record (or it does automaticall

[2020-07-03 10:19] rlems commented on #60
@losheredos There is a method to subscribe to steps: `Fitness.subscribeToSteps()`

Check the documentation for more info.

[2020-07-03 13:55] losheredos commented on #60
@rlems yeah thanks for warning I missed it, but if this was the case for this issue probably this method could be in top section of methods..

[2020-07-06 21:39] marlene89 commented on #60
@losheredos will def try your suggestion. I'll post results when I have them. thanks :)

[2020-07-16 13:56] Francesco-Voto commented on #51
Hey @gregermendle

I guess the only way is to ask directly to the Core Motion and listen for update.

Sorry for the moment there is no plan to introduce this part

[2020-07-16 13:56] #51 closed

[2020-07-30 16:01] philipusmartin9 opened #63 "error: null reference. when I do console.log, isAuthorized always return false, PermissionAccess.write always return undefined"
Hello,

First of all, great work! Im so excited to try this plugin.
I tried using this with RN 0.62, (using autolinking).
if I run without checking isAuthorized, it always gives null reference error. So, I put some console.log(s) and found out isAuthorized always return false, PermissionAccess.write always return undefined.
Did I miss a step in setting up this plugin, or maybe there's missing step

[2020-07-31 17:42] philipusmartin9 commented on #63
I finally managed to make it work by adding this to my build.gradle dependencies:

`implementation "com.google.android.gms:play-services-base:+"
implementation "com.google.android.gms:play-services-auth:+"
implementation "com.google.android.gms:play-services-fitness:+"`

the permission request works, now the authorization returns true, but I still only get empty array even though I have steps data

[2020-08-01 13:02] philipusmartin9 commented on #63
It works, the app can only get the google fit data in the same, not cross-device.

[2020-08-01 13:02] #63 closed

[2020-08-01 16:57] Francesco-Voto commented on #63
@philipusmartin9 Thank you for explain the issue. Glad to hear it works in some way

[2020-08-11 16:59] laxminarayanmn opened #64 "error: cannot find symbol: variable TYPE_ACTIVITY_SAMPLES"
<img width="573" alt="Screenshot 2020-08-11 at 10 20 51 PM" src="https://user-images.githubusercontent.com/36225584/89925588-45b8ec80-dc21-11ea-8fb5-3491084af864.png">

node_modules/@ovalmoney/react-native-fitness/android/src/main/java/com/ovalmoney/fitness/manager/Manager.java:145: error: cannot find symbol
                .subscribe(DataType.TYPE_ACTIVITY_SAMPLES)

[2020-08-12 07:49] Francesco-Voto commented on #64
Hi @laxminarayanmn ,
have you change the version of ```:play-services-fitness``` ?

[2020-08-12 07:51] laxminarayanmn commented on #64
yes, Im using 'com.google.android.gms:play-services-fitness:19.0.0'

[2020-08-12 07:55] Francesco-Voto commented on #64
It seems it does not exist anymore. I will fix it

[2020-08-12 07:55] Francesco-Voto commented on #64
Can you use 17.0.0 for the moment?

[2020-08-12 07:56] laxminarayanmn commented on #64
sure, i'll use the 17.0.0

[2020-08-16 08:28] auliakbarh commented on #64
@laxminarayanmn does it works if you use 'com.google.android.gms:play-services-fitness:17.0.0' in app gradle?

[2020-08-16 10:03] laxminarayanmn commented on #64
@auliakbarh it worked as expected when i removed `googlePlayServicesVersion = "+" `from projects gradle

[2020-08-19 22:55] francisli commented on #64
I could use some help from anyone on this thread... my project did not have neither a dependency implementation line nor a googlePlayServicesVersion line in its build.gradle... I've tried adding them and specifying version 17.0.0, but it does not solve the compilation issue...

What has happened in just the last week or so?

[2020-08-19 22:59] francisli commented on #64
Ok, I see the removal of the field in the release notes:

https://developers.google.com/android/guides/releases#august_10_2020

[2020-08-19 23:27] francisli commented on #64
Ok, I see how the build.gradle for this library is written now... for anyone else visiting this thread, you can specify an older version of Google Play Services in your _top-level_ build.gradle file, for example:

[code]

When I tried bumping down just to 18.0.0 I got an error that iid services could not be found with that version...

[2020-08-26 17:15] ibraude commented on #60
Hey, thought this might be related.
So to be able to record steps\activity on Google Fit you must call the `Fitness.subscribeToSteps()` or `Fitness.subscribeToActivity()`.

if these methods return false (failed to subscribe) it probably means the app doesn't have the required permissions, because as of Android 10 I think, physical activity is defined as a sensitive permission and requires Android

[2020-08-27 12:57] cham1985 commented on #60
@ibraude  ,   Hello, I used the Fitness.subscribeToSteps() method when the app started，and  I agree to step authorization
。  Then I called the Fitness.isAuthorized(permissions) method ，it returns false， then I called Fitness.requestPermissions(permissions) method ,but still return  false , please help me  ,thanks

[2020-08-27 13:06] ibraude commented on #60
Hey,
Did you set up an OAuth 2.0 Client ID with the Google API console?
See how to do that here: https://developers.google.com/fit/android/get-api-key

[2020-08-28 03:36] cham1985 commented on #60
Haha, it's my problem. The debug package I used for testing  but it should be the release package. Now I use the Fitness.subscribeToActivity() method to determine whether it is authorized, and then use the react-native-permissions library to request the two permissions of ACTIVITY_RECOGNITION and ACCESS_FINE_LOCATION. Now I have the user’s Steps, Calories and Distance, thank you

[2020-08-30 03:36] cham1985 opened #66 "on IOS , getCalories return []"
Hello everyone, my authorization is successful on ios, and both step and distance can get data, but on the debug and release packages, getCalories  method return [],  has anyone encountered this problem ?
![image](https://user-images.githubusercontent.com/7087874/91650656-c185b680-eab4-11ea-8ec9-e2fa65f9eb36.png)

[2020-08-30 04:41] #66 closed

[2020-08-30 04:42] cham1985 commented on #66
time period problem,solved

[2020-08-31 10:54] Doychev opened #67 "Nutrients access?"
I can see both Google Fit and Apple Healthkit provide information on nutrients. Is it possible to access this through this tool? Or if not, how hard would it be to add this as a feature?

[2020-08-31 11:07] Francesco-Voto commented on #67
Hi @Doychev , for the moment it is not possible to access this feature. We can implement in the future, should not be so hard. We also accept PR :)

[2020-08-31 11:07] #67 closed

[2020-09-01 14:46] batical opened #68 "Error screen on android"
On iOS it is working fine without issue

on android, I can make it work
<img width="371" alt="Capture d’écran 2020-09-01 à 16 41 01" src="https://user-images.githubusercontent.com/7248073/91865873-23d7e600-ec72-11ea-8610-4573ac60aecd.png">

React native : 0.62
"@ovalmoney/react-native-fitness": "^0.4.0",

I did this step (I think correctly)
Get an OAuth 2.0 Client ID as explained at https://develo

[2020-09-02 05:01] GuleriaAshish commented on #60
@cham1985 can you provide your code , because i am still getting the empty array.

[2020-09-02 05:35] GuleriaAshish commented on #68
I got the same error and resolve it by using direct values for kind permission like this:
const permissions = [
    {kind: 0, access: 0},
    {kind: 2, access: 0},
    {kind: 0, access: 1},
    {kind: 2, access: 1}
];

All the values that we can use are :
export declare enum PermissionKind {
  Steps = 0,
  Distances = 1,
  Calories = 2,
  HeartRate = 3,
  Activity = 4,
  SleepAnalysis = 5,
}

expo

[2020-09-02 06:33] GuleriaAshish commented on #66
How did you solve it? I am also facing the same issue while using getCalories(), it always return me an empty array.

[2020-09-02 06:56] batical commented on #68
@GuleriaAshish  thanks. You made my morning.. and my day ... and my week 👍

[2020-09-02 07:13] GuleriaAshish commented on #52
The issue we are using javascript class for every function but every new functionality and functions are implemented in typescript class. And we are trying to get all those functions from index.js class.

[2020-09-02 08:36] GuleriaAshish commented on #68
You welcome @batical ,

Are you currently working on it? Actually i am facing an issue that when i call getCalories it returns me an empty array. So have you face this thing too?

[2020-09-02 08:45] batical commented on #68
I quickly test If it was not crashing. have to to more implementation and test on real device.

I am only using getSteps in my case.  will come back after more test

[2020-09-02 08:48] GuleriaAshish commented on #68
Have you get a proper result in case of using getSteps?

[2020-09-02 09:11] #64 closed

[2020-09-02 09:12] Francesco-Voto commented on #52
Hi @brar07 ,

Yes you cannot use this library with Expo Projects

[2020-09-02 09:13] #52 closed

[2020-09-02 10:27] batical commented on #68
I tested with a internal release on my staging app.

I use Huawei P20 for testing. I install google fit app. I add a activity with some steps and was able to fetch them in my app

[2020-09-02 11:17] GuleriaAshish opened #69 "How to use google fit without download the google fit app in android device?"
I am using the react-native-fitness version 0.4.0 and react-native version 0.63.2.
I am getting an empty array in return of calling getCalories function until i install Google Fit app on my android phone. I don't want to install google fit app but without it , function returns me empty array.
There must be a way around, lease suggest.

[2020-09-02 14:37] GuleriaAshish commented on #21
@ShaharyarMaroof are you able to get data without installing Google fit app on android?

[2020-09-02 16:45] ShaharyarMaroof commented on #21
@GuleriaAshish , I don't remember as I moved to another library.

[2020-09-02 16:51] GuleriaAshish commented on #21
@ShaharyarMaroof Which library, Please suggest.

[2020-09-02 17:15] shaharyarmaroof-polarr commented on #21
@GuleriaAshish I used react-native-google-fit and rn-apple-healthkit

[2020-09-03 14:55] pranatha opened #70 "Failed to Compile on Android"
My App cannot be compiled to Android due to usage of deprecated API

**macOS Version**
Catalina 10.15.5

**Java Environment**
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

**React Native Version**
v0.62.2

**react-native-fitness**
v0.4.0

**Step to reproduce**
run `yarn run android`

<img width="1321

[2020-09-08 09:59] PaLaMuNDeR commented on #48
@scerelli @dmitov
I also cannot make it run with the current documentation. Here is what I am trying:
(Note, READ with capital, instead of `Read`, otherwise it is 'undefined). Fresh new react-native app, registered the ClientID with Google(both the dev and the release key), and enabled Capabilities on the HealthKit store. If you can help me debug what is not working ok when starting it, I can open

[2020-09-08 10:19] Francesco-Voto commented on #48
Hi @PaLaMuNDeR

It still seems to be a problem with OAuth 2.0.

It should appear a second modal with the kind of permissions you would like to asks.

I will search in this direction: f.i. are you running app in debug and register only for release?

[2020-09-08 10:36] PaLaMuNDeR commented on #48
I registered both keys, but running in debug mode on physical device via cable.

[2020-09-08 11:43] PaLaMuNDeR commented on #48
Same on the AVD, running Android 9 and Android 10

[2020-09-08 13:22] PaLaMuNDeR commented on #68
@batical @GuleriaAshish since you managed to run it on Android, can you see if I am missing something? It just shows the modal to choose account, but no option to choose permissions after that

https://github.com/OvalMoney/react-native-fitness/issues/48#issuecomment-688761194

[2020-09-09 12:35] IronTony opened #71 "getDistance not working"
Hi all,

I was trying to using the permission and the method `getDistance` unfortunately the permission is not asked, just the permission for the steps, so neither the value is visible and usable

[2020-09-10 04:06] keiscool2468 commented on #21
i already get the clientID from console.developers.google, where should i put it in.
It did not mention in the Doc / Readme

[2020-09-10 07:51] Francesco-Voto commented on #21
Nowhere. We are using OAuth 2.0 which relies on SHA and package name you put on console

[2020-09-11 18:57] PaLaMuNDeR commented on #60
Any progress on this @GuleriaAshish ? @cham1985 could you share your setup? For me it also doesn't work on Android.

[2020-09-14 05:57] GuleriaAshish commented on #68
@PaLaMuNDeR, Please refer this solution of how to use permissions const.

[2020-09-29 12:50] geekmidas opened #73 "requestPermissions does not ask user for permissions"
Below is the code that I am using. When I call `requestPermissions` it does not ask the user for permissions. Please assist

`
export function useRequestPermissions() {
  const [loading, setLoading] = useState(false);
  const [granted, setGranted] = useState(false);

  useEffect(() => {
    setLoading(true);
    Fitness.requestPermissions(permissions)
      .then(authorized => {
        console.lo

[2020-09-29 12:53] geekmidas commented on #71
@IronTony Did you manage to get it working?

[2020-09-29 12:58] IronTony commented on #71
@geekmidas nope, I used another package `rn-apple-healthkit` for iOS and `react-native-google-fit` for Android

[2020-09-29 12:59] IronTony commented on #71
You can try `react-native-permissions` but I preferred to go the other way. Best of luck

[2020-09-30 06:31] geekmidas commented on #71
@IronTony I tried using react-native-google-fit but it was the same issue on my side, it did not ask for permissions as well

[2020-09-30 07:00] IronTony commented on #71
@geekmidas mmmm strange.
I did this:
[code]
and it is working fine.

Just a quick hint, I think that this is not the right place to talk about another package 😉

[2020-09-30 08:46] cham1985 opened #74 "Samsung UNAVAILABLE"
Why can't Samsung devices get authorization from Googlefit ?

[2020-10-01 05:29] geekmidas commented on #71
@IronTony Thanks for the hint. Do you mind if I contact you privately on the email you have on GitHub?

[2020-10-01 09:45] iyansr opened #75 "How To Logout"
I was able to connect to Google Fitness, and Apple Healthkit,

Now how to disconnect or log out user from their account, in case they want to use different account, or they log out for my application

thanks

[2020-10-01 10:39] IronTony commented on #71
@geekmidas sure no problem

[2020-10-01 10:56] geekmidas commented on #71
Thanks man @IronTony I sent you an email.

[2020-10-01 12:02] patrick-samy commented on #44
When

[2020-10-01 12:06] patrick-samy commented on #44
Hey @dmitov,

When you say weight/height are available/supported, do you mean they're already implemented in the react-native-fitness APIs?

If not and you have any guidance to provide, I'd be happy to take a shot at it and submit a PR if successful.

Cheers!

[2020-10-14 07:05] cham1985 opened #76 "google pixel 3a get empty array"
I am using a pixel 3a mobile phone, Android 10, google fit authorization is successful, but I get the empty array of steps, please help

[2020-10-14 08:57] #76 closed

[2020-10-14 09:09] Francesco-Voto commented on #74
Hi @cham1985, they should get it without problem

[2020-10-29 07:44] Karthiksheety opened #77 "Get Access Token from Fitness.requestPermissions()"
Hi,

I am trying to fetch the access token on the android device after the user authorize by Fitness requestPermissions() and then send access token to my backend server so that we can fetch steps data using Google Fit Rest API.

[2020-10-30 16:08] Francesco-Voto commented on #77
Hi @Karthiksheety

For the moment we do not provide an access token. We will do in the future or be free to open a PR :)

[2020-11-20 10:45] cham1985 opened #78 "RESULTS.UNAVAILABLE on android 9"
Authorization is successful on Android 10, but on Android 9, the result returned by check(PERMISSIONS.ANDROID.ACTIVITY_RECOGNITION) is RESULTS.UNAVAILABLE,

  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

  <uses-permission android:name="android.gms.permission.ACTIVITY_RECOGNITION"/>

I have added these 2 permissions ,Does anyone know the reason  ?

[2020-11-20 10:46] cham1985 commented on #78
<uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

  <uses-permission android:name="android.gms.permission.ACTIVITY_RECOGNITION"/>

[2020-11-20 10:49] cham1985 commented on #78
<img width="1173" alt="WechatIMG918" src="https://user-images.githubusercontent.com/7087874/99791820-2820ea80-2b61-11eb-86e4-3635f116e184.png">

[2020-11-22 11:31] Francesco-Voto commented on #73
Hi @geekmidas do you have some news about this? Typically this kind of problem means some problem in the configuration of the project with maybe a wrong SHA-1. Please also note that the SAH-1 is normally different from debug or release

[2020-11-22 16:05] geekmidas commented on #73
@Francesco-Voto I do not, I struggled and we postponed the feature for later. How did you set yours up?

[2020-11-22 21:31] Francesco-Voto commented on #78
Hi @cham1985 . In android 9 you should ask runtime permissions. probably that is the reason. You have to add this check before. Anyway we are planning to insert this check on our side.

[2020-11-22 21:31] #78 closed

[2020-11-22 21:32] Francesco-Voto commented on #75
Hi @iyansr,
with version 0.5.0 you are now able to logout or disconnect google fit

[2020-11-22 21:32] #75 closed

[2020-11-22 21:35] Francesco-Voto commented on #73
For testing we add the debug SHA1. Typically you can find it in this way
`keytool -list -v -keystore ~/.android/debug.keystore -alias androiddebugkey -storepass android -keypass android`.

Remember to change with your production keystore and also test it with a release build.

[2020-11-23 04:19] iyansr commented on #75
thank @Francesco-Voto

[2020-11-23 09:00] #71 closed

[2020-11-23 14:28] nikitph commented on #73
this is happening for us too.

[2020-11-23 17:38] nikitph commented on #70
yes running into this

[2020-11-30 02:44] cham1985 commented on #74
thanks a lot

[2020-11-30 02:45] #74 closed

[2020-11-30 02:48] cham1985 opened #84 "How to get the real data of google fit?"
because you can add the number of fake steps in Google fit, so how do you make sure you use it Fitness.getSteps () the number of steps obtained is the actual sensor step number, not the number of steps added by the user?

[2020-11-30 09:13] cham1985 commented on #84
solved,  I added this method to the file node_modules/@ovalmoney/react-native-fitness/android/src/main/java/com/ovalmoney/fitness/manager/Manager.java

public void readDailyTotalFromLocalDevice(Context context,  final Promise promise){
        Task<DataSet> response = Fitness.getHistoryClient(context, GoogleSignIn.getLastSignedInAccount(context))
                .readDailyTotalFromLocalDevice(Data

[2020-11-30 09:13] #84 closed

[2020-12-01 09:06] m-ruhl opened #85 "Bug: getDistance"
Hello,

in the Readme and `index.d.ts` the method is defined as `getDistances()`
But the actual implementation is `getDistance()`

[2020-12-01 09:42] Francesco-Voto commented on #85
Hello @m-ruhl ,

Thank you, It should be fixed with 0.5.1 now

[2020-12-01 10:24] m-ruhl commented on #85
@Francesco-Voto thanks for the quick fix 👍

[2020-12-01 10:24] #85 closed

[2020-12-01 10:32] m-ruhl opened #88 "iOS: isAuthorized does not work"
Hello,

I was trying to see if the user, has given the app the permissions..

I think the wrong method is used:
https://github.com/OvalMoney/react-native-fitness/blob/3fdf681cd7122c8b7007640e83def9bab6fabfdc/ios/RCTFitness/RCTFitness.m#L133

Because `HKAuthorizationRequestStatus` is compared against `HKAuthorizationStatus`
https://developer.apple.com/documentation/healthkit/hkauthorizationrequests

[2021-01-05 07:16] ipsips commented on #60
I'm having the same unexpected result: `getSteps()` yields an empty array. I'm trying to fetch tracked steps on Android Emulator without having Google Fit app installed. I am leveraging `subscribeToSteps()` method as documentation suggests. I am certain that I have some steps tracked in given period because I can see them on Google Fit app that I have installed on my physical phone and I can confi

[2021-01-09 00:20] shekharskamble commented on #43
Hi @maxmijn I want to add flights climbed in my app too, how did you achieve that?

[2021-01-13 15:49] z3tsubouou opened #93 "Fitness.requestPermissions(permissions) does not show permission allow modal"
`Fitness.requestPermissions(permissions)
.then((authorized) => {
console.log({authorized});
})
.catch((error) => {
console.log({error});
});`

[2021-01-13 18:05] Princy-vaidya commented on #93
Same here, when I am login to google account it keeps loading. Please help ....

[2021-01-14 19:55] Princy-vaidya commented on #93
Hey @z3tsubouou  have you got any solution for this?

[2021-01-15 04:56] z3tsubouou commented on #93
Nope i still trying i think i need use client id somewhere but also i think it is not the issue. Maybe we need verify app. If you got any solution help me too. If i got solution i will help you.

[2021-01-16 21:04] denkristoffer commented on #93
Assuming we're talking about iOS the permission request only works after you add Health to the app's capabilities in Xcode. Did you do that already?

[2021-01-17 01:38] z3tsubouou commented on #93
Unfortunately i am talking about android version. After login with gmail never stop loading as you can see.
![Screenshot_20210117-093810.png](https://user-images.githubusercontent.com/25279427/104828773-cef6de00-58a7-11eb-996d-e13d575585ab.png)

[2021-01-22 03:35] joaomdmoura commented on #93
Same issue here, after I select the account it shows up the loading modal and never finishes tagging along this one just in case

[2021-01-22 06:22] XiNiHa commented on #93
Flutter equivalent https://github.com/krokyze/FitKit/issues/69 also having the same issue. I guess it's from the Google side. There is a workaround posted which is publishing the app on the API Console.

[2021-01-22 06:26] #93 closed

[2021-01-27 10:31] Sandeep145XamRN opened #94 "java.lang.NullPointerException: null reference"
java.lang.NullPointerException: null reference
        at com.google.android.gms.common.internal.Preconditions.checkNotNull(Unknown Source)
        at com.google.android.gms.fitness.Fitness.getHistoryClient(Unknown Source)
        at com.ovalmoney.fitness.manager.Manager.getCalories(Manager.java:353)
        at com.ovalmoney.fitness.RNFitnessModule.getCalories(RNFitnessModule.java:167)
        at

[2021-01-28 04:43] Sandeep145XamRN commented on #94
I'm trying to access getCalories() without authorise .

[2021-01-28 04:43] #94 closed

[2021-02-22 09:59] RicardoDolNL opened #95 "App crash on bundleRelease version"
The app crashed on Android when a users wants to choose a google account (on the oAuth screen). This only happens on the bundleRelease version and not on debug or the apk production version (so really only on the bundle release version that you'd upload to play console).
The app also already has a OAuth 2.0 Client ID with the scopes activity.read and location.read.

The weird thing is that I can't

[2021-02-22 13:35] Francesco-Voto commented on #95
I will investigate

[2021-02-23 15:46] RicardoDolNL commented on #95
Nevermind I fixed it. It was a mix of multiple things.

Long story short: the Google Play Console version of the app has a different SHA-1 then the SHA-1 of the release version you need to upload. Play Console changes this SHA-1. The problem was that I did not had a OAuth 2.0 Client ID with that SHA-1 (but I did for the debug and release keystore file).

So I was actually using Fitness.getSteps()

[2021-02-23 15:46] #95 closed

[2021-02-25 10:39] pvlvukovic commented on #47
Any news on this?
Would be great to filter manually entered data!

[2021-02-25 13:36] pvlvukovic commented on #47
this seems to work, still needs testing.

Perhaps there is a solution for android also
In Manager.java there are processSteps and processDistances methods

                if (!"user_input".equals(dp.getOriginalDataSource().getStreamName())) {
                    caloryMap.putString("startDate", dateFormat.format(dp.getStartTime(TimeUnit.MILLISECONDS)));
                    caloryMap.putString("en

[2021-02-26 09:50] NguyenHoangMinhkkkk opened #96 "[Android] Application needs OAuth consent from the user"
This Error happen with `getHeartRate` method
while the othes methods are working fine after sign in and allow permissions (permission HeartRate included).

***
const permissions = [
  {
    kind: Fitness.PermissionKinds.Steps,
    access: Fitness.PermissionAccesses.Read,
  },
  {
    kind: Fitness.PermissionKinds.Calories,
    access: Fitness.PermissionAccesses.Read,
  },
  {
    kind: Fitness.Per

[2021-02-26 10:56] yateeshkota commented on #73
hi, I am also facing that issue so I try another library. there I found a comment help i am able to resolve this issue please check. in **app/build.gradle**.
`signingConfigs {
  /* debug {
    storeFile file('...')
    storePassword '...'
    keyAlias '...'
    keyPassword '...'
  } */
  ...
}`
in **your_project/android** delete **debug.keystore**
after complete this step clean and unsitall app th

[2021-03-30 10:25] rlems commented on #70
I'm running into the same issue when I define the versions for `fitnessPlayServices` and `authPlayServices` in `build.gradle` as stated in the documentation. Seems like it doesn't work with fitness play services version 19.0.0 and higher.
[code]

To keep using certain permissions you have to upgrade to version 20 of the fitness SDK by April 27th: https://developers.google.com/fit/improvements

The

[2021-03-30 11:40] rlems commented on #70
I've been trying to understand what's happening. I think the DataType `TYPE_ACTIVITY_SAMPLES` has been deprecated in the current version of the Fit SDK. With the coming of stricter oauth permissions it doesn't seem allowed to subscribe to this anymore. I think the easiest solution would be to remove the `subscribeToActivity` function in the `Manager.java`. I don't know Java enough to suggest a new

[2021-03-30 11:55] Francesco-Voto commented on #70
Hi @rlems , thank you for your specification.

We are working to update android SDK and find a way to fix also activity. If it is not possible we will probably remove.

[2021-04-08 10:05] rlems commented on #70
Hi @Francesco-Voto,
Just wondering what your timeline on this is? As far as I understand the Google Fit documentation, this needs to be implemented before the 27th of April. But maybe I'm understanding that wrong.
Thank you for your time

[2021-04-12 01:42] NguyenHoangMinhkkkk commented on #88
hello @m-ruhl, did you find any solution for this issue ?

[2021-04-13 14:57] #70 closed

[2021-04-19 14:14] patriksharma opened #99 "Fitness.getSleepAnalysis(dateSleep) returns empty array"
I don't know what can be a reason here but getSteps is working fine and I'm getting steps from start to end date but not in case I try to get sleep analysis , any idea what cab be a reason ?

[code]

[2021-06-02 19:43] joaomdmoura commented on #48
Experiencing the same issue where the second modal doesn't show up, any updates?

[2021-06-03 09:44] PaLaMuNDeR commented on #48
I think what resolved for me was deleting the app from the phone, and building the project with the Android Studio, after that exporting the app as apk file, transferring it manually to the phone and then it worked, but it was not a very easy or stable solution. Unfortunately I had to do it every time I was making some major changes in the library

[2021-06-17 02:48] joaomdmoura commented on #93
@z3tsubouou any updates there? publishing like to production? Because I'm using the internal testing through the play consle and it doesn't work still

[2021-06-17 03:05] z3tsubouou commented on #93
nope i built my own native package 📦 (pedometer)

[2021-07-09 14:47] anass05 commented on #93
I had this error in debug mode on Android.
Adding the gmail account that's connected to google fit into google api console testers solved for me.

[2021-07-14 06:24] TheRogue76 commented on #88
Having the same issue. Once the pop up is shown, the isAuthorized method will always return true even if the user has denied those permissions

[2021-08-12 09:32] navigarg91 opened #104 ""OvalMoney / react-native-fitness" this library, not working for IoS?"
[code]
        Here above is the code, i'm unable to run in ios and app getting crash. Please provide me some solution.

[2021-09-18 20:45] darrenmerrett commented on #88
This is in the docs...

[2021-09-24 18:36] juliomdsneto commented on #93
i'm having the same issue, but idk how to connect to google api console, can u tell me more?

[2021-09-27 04:01] juliomdsneto commented on #60
but, if i get true from these methods I should be able to get some data, right? But i still get empty array

here is my code

[...]

[code]

here is my output:

LOG permissions:  [{"access": 0, "kind": 0}, {"access": 0, "kind": 2}, {"access": 1, "kind": 0}, {"access": 0, "kind": 1}, {"access": 1, "kind": 1}, {"access": 0, "kind": 4}, {"access": 1, "kind": 4}, {"access": 1, "kind": 2}]
 LOG  status

[2021-10-01 08:34] robrechtme commented on #96
I had the same issue, I think the error message you receive from the Google Fit API is incorrect.

For heart rate you also need to request the `android.permission.BODY_SENSORS` permission. You can do so by using [react-native-permissions](https://github.com/zoontek/react-native-permissions).

[2021-10-06 18:40] djochim commented on #99
We are facing the same issue. @patriksharma were you able to fix it?

[2021-10-13 21:10] pancr9 commented on #99
Seeing the same issue. Getting empty array at https://github.com/OvalMoney/react-native-fitness/blob/fd9c38540540ef5fdfd372e030c52e8a7ffd7052/android/src/main/java/com/ovalmoney/fitness/manager/Manager.java#L417. Possibly something changed on the Google Fit side?

[2021-10-16 11:54] HemantDixit10 opened #105 "In react-native-fitness - We got the steps once we kill the app and run it again."
Hello,

In this library - We got the steps once we kill the app and run it again. We gave the permission and set the startdate, enddate and interval and it returns 0 steps.

Once we kill the app and again open and walk few steps then it is recorded.

Let me know if you have any inputs for the same.

Thank you,

[2021-11-15 10:05] rlems commented on #88
Also check this issue with workaround: https://github.com/OvalMoney/react-native-fitness/issues/50

[2021-11-21 17:21] zuhairnaqi commented on #94
@Sandeep145XamRN how you solve this issue?

[2021-11-27 14:46] amrita154 opened #106 "App crashes on getting heart rate data"
App crashes on getting current heart rate from google fit

My code:-
Fitness.getHeartRate({
     startDate:moment().subtract('days',1).toISOString(),
      endDate: moment().toISOString(),
      interval:'hour',
    })
      .then(res => {
        console.log('heart rate', res);
        // setHeartRate(res);
      })
      .catch(err => {
        console.log('error in heart rate' + err);
      });

[2021-12-28 13:43] ashish293 opened #107 "What is the format of date required?"

[2022-01-14 16:58] castrohenworx opened #109 "OAuth consent screen is showing wrong required permissions."
Hi!
First of all thank you for your library!

In theory everything works fine, but in practice there is a problem with the google compliance. When the consent permission screen appears, the text says something about giving consent to share email address and profile picture instead of the steps we actually want to read.

![image](https://user-images.githubusercontent.com/76947189/149553958-5a0879d7

[2022-01-31 07:18] matinzd commented on #109
I think It's default behavior from Google. Can you also check if you have this issue as well? https://github.com/OvalMoney/react-native-fitness/issues/110

[2022-01-31 07:25] matinzd opened #110 "OAuth consent screen showing wrong scopes"
What is the problem?

I am trying to request these permissions:

[code]

In this case, I need to see two permissions being granted on OAuth consent screen but if I include write permission, it always shows the following screenshot (Add to physical activity, so it means write not read):

![Screenshot 2022-01-31 at 08 20 45](https://user-images.githubusercontent.com/24797481/151753606-b2ff7ff7-4926-

[2022-01-31 11:16] castrohenworx commented on #109
We get the above screen no matter what the requirements are.

I wonder why you get the permissions displayed, and we don't.

Also note: In the modal window the message is wrong, but the functionality is actually there. We can access the Google Fit Steps data, but we can not pass through the Google verification process without doing shady things.

[2022-02-15 19:51] ArchieGregory opened #111 "iOS Installation documentation is out of date"
Certain files do not exist, making iOS installation impossible such as:
`libreact-native-fitness.a`
`RNFitness.xcodeproj`
`libRNFitness.a`

Could the documentation please be updated?

[2022-02-15 22:58] #111 closed, assigned to nobody

[2022-03-14 09:25] rlems opened #112 "Debugging error on errorNoEvents"
I have a question about a thrown error.
The getSteps call returns 'errorNoEvents' on some iOS devices. How can I figure out what went wrong? Is there an original error that came from the HealthKit API? the thrown error doesn't seem to contain much information.

[2022-05-05 10:27] RonakMindbowser commented on #106
@amrita154
You can replace Manager.java file with this
[https://github.com/OvalMoney/react-native-fitness/blob/master/android/src/main/java/com/ovalmoney/fitness/manager/Manager.java](url)

[2022-05-06 02:34] nductung commented on #111
I can't find files RNFitness.xcodeproj and libRNFitness.a
Have you fixed this error yet?

[2022-07-10 14:26] MasterHamster opened #113 "Getting Fitness.CLIENT is not available"
Is anybody getting this error?

this is what I get:

API: Fitness.CLIENT is not available on this device. Connection failed with : ConenctionResult(statusCode=DEVELOPER_ERROR, resolution=null, message=null)

Before 07.07 the error did not occur it's very new, and it cannot be reproduced when running locally, only on the google play store.

[2022-11-18 12:56] tara-encora commented on #9
I am still facing the issue after following all the above solutions.

[2022-11-23 09:39] aaron-chi commented on #112
@rlems have you solved this issue?